<div class="main-container">
  <img class="main-backdrop-img" src="assets/wallpaper.webp">
  <div class="game-counter-container">
    <span>{{starCount}}</span>
    <div class="game-counter-star">
        <img src="assets/star-icon.png" />
    </div>
  </div>
  <div class="game-level-box-container">


    <div class="game-tile-container  game-control-item">
      <div class="tile-row" *ngFor="let row of gameLevelMatrix">
        <div class="tile-col" *ngFor="let col of row">
          
          <div class="tile-mario" *ngIf="col.isMario">
            <img src="assets/mario-icon.png" />
          </div>
          <div class="tile-star" *ngIf="col.isStar && !col.isBomb" >
            <img src="assets/star-icon.png"/>
          </div>
          <div class="tile-star" *ngIf="col.isBomb" >
            <img src="assets/bomb-icon.png"/>
          </div>
          <div class="tile-platform">
            <img src="assets/platform-icon.png" />
          </div>
        </div>
      </div>
    </div>

   

  <div class="game-overlay-container" [ngClass]="{'game-overlay-container-show': isGameOver}">
      <section class="game-overlay-section">
          <span class="game-over-heading">Game Over! 💩</span>
          <span class="stars-collected">Stars Collected: {{starCount}}</span>
          <button class="play-again-button" (click)="resetGame()">Play Again</button>
      </section>
  </div>

  <div class="game-overlay-container" [ngClass]="{'game-overlay-container-show': isGameCompleted}">
    <section class="game-overlay-section">
        <span class="game-over-heading game-completed-heading">You Won!🔥</span>
        <span class="stars-collected">Stars Collected: {{starCount}}</span>
        <button class="play-again-button" (click)="resetGame()">Play Again</button>
    </section>
</div>
</div>